@page

<div class="text-center" ng-app="StockModule">
    <div ng-controller="StockController" ng-cloak ng-init="GetAllPriceSources()">
        <h1 class="display-4">Stock Price Monitor</h1>

        <div style="align-content:center">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2" style="max-width: 150px; padding-top: 8px; text-align: right">
                                <label for="priceSource" class="control-label">
                                    Price Source:
                                </label>
                            </div>
                            <div class="col-md-4 abc">
                                <md-input-container flex="50">
                                    <md-select name="priceSource" ng-model="PriceSource">
                                        <md-option ng-repeat="source in PriceSourceList" ng-value="{{source.Key}}">{{source.Value}}</md-option>
                                    </md-select>

                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2" style="max-width:150px; padding-top:8px; text-align: right">
                                <label for="ticker" class="control-label">
                                    Ticker:
                                </label>
                            </div>
                            <div class="col-md-4 abc">
                                <md-input-container flex="50">
                                    <md-select name="ticker" ng-model="Ticker">
                                        <md-option ng-repeat="ticker in TickerList" ng-value="{{ticker.Key}}">{{ticker.Value}}</md-option>
                                    </md-select>

                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <form name="tickerTable">
            <table class="table table_center" border="1">
                <thead>
                    <tr>
                        <th style="width: 70%">Time</th>
                        <th style="width: 30%">Price</th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr ng-repeat="tableData in TableDataResult">
                            <td>{{tableData.Time}}</td>
                            <td>{{tableData.Price}}</td>
                        </tr>*@
                    <tr>
                        <td>AAA</td>
                        <td>BBB</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<style>
    .table {
        max-width: 500px;
    }

    .table_center {
        margin-left: auto;
        margin-right: auto;
    }

    .abc md-input-container {
        width: 100%;
        border: 1px solid #000;
        border-radius: 6px;
        margin: 0;
        max-width: unset;
    }

    .table tr th {
        text-align: center;
    }

    .table tr td:last-child {
        text-align: right;
    }

    .table tr td:first-child {
        text-align: left;
    }
</style>

@section Scripts{
    <script src="~/js/app/services/stock.factory.js"></script>
    <script src="~/js/app/controllers/stock.controller.js"></script>
}
