@page

<div class="text-center" ng-app="StockModule">
    <div ng-controller="StockController" ng-cloak ng-init="InitialConfigurations()">
        <h1 class="display-4">Stock Price Monitor</h1>

        <div style="align-content:center">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row center">
                            <div class="col-md-6 label_wrapper">
                                <label for="priceSource" class="control-label">
                                    Price Source:
                                </label>
                            </div>
                            <div class="col-md-6 dropdown_menu">
                                <md-input-container flex="50">
                                    <md-select name="priceSource" ng-model="PriceSourceId">
                                        <md-option ng-repeat="source in PriceSourceList" ng-value="{{source.id}}">{{source.name}}</md-option>
                                    </md-select>

                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row center">
                            <div class="col-md-6 label_wrapper">
                                <label for="ticker" class="control-label">
                                    Ticker:
                                </label>
                            </div>
                            <div class="col-md-6 dropdown_menu">
                                <md-input-container flex="50">
                                    <md-select name="ticker" ng-model="TickerId">
                                        <md-option ng-repeat="ticker in TickerList" ng-value="{{ticker.id}}">{{ticker.tickerName}}</md-option>
                                    </md-select>

                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <form name="tickerTable">
            <table class="table table_center" border="1">
                <thead>
                    <tr>
                        <th style="width: 70%">Time</th>
                        <th style="width: 30%">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tableData in TableDataResult">
                        <td>{{tableData.dateTime}}</td>
                        <td>{{tableData.price}}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/app/services/stock.factory.js"></script>
    <script src="~/js/app/controllers/stock.controller.js"></script>
}
