@page

<div class="text-center" ng-app="stockModule">
    <div ng-controller="stockController" ng-cloak>
        <h1 class="display-4">Stock Price Monitor</h1>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="priceSource" class="control-label">
                                Price Source:
                            </label>
                        </div>
                        <div class="col-md-6">
                            <md-input-container flex="50">
                                <md-select name="priceSource" ng-model="PriceSource">
                                    <md-option ng-repeat="source in PriceSourceList" ng-value="{{source.Key}}">{{source.Value}}</md-option>
                                </md-select>

                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="ticker" class="control-label">
                                Ticker:
                            </label>
                        </div>
                        <div class="col-md-6">
                            <md-input-container flex="50">
                                <md-select name="ticker" ng-model="Ticker">
                                    <md-option ng-repeat="ticker in TickerList" ng-value="{{ticker.Key}}">{{ticker.Value}}</md-option>
                                </md-select>

                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form name="tickerTable">
            <table class="table" border="1">
                <thead>
                    <tr>
                        <th style="width: 70%">Time</th>
                        <th style="width: 30%">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tableData in TableDataResult">
                        <td>{{tableData.Time}}</td>
                        <td>{{tableData.Price}}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/app/controllers/stock.controller.js"></script>
}
