/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

table tr th {
    background: #253a48;
    color: #fff;
    padding: 5px 15px 5px 1px !important;
    margin: 0 0 10px;
}

.table {
    max-width: 300px;
}

.table_center {
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin: auto;
    width: 40%;
    padding: 10px;
}

.dropdown_menu md-input-container {
    width: 100%;
    border: 1px solid #000;
    border-radius: 6px;
    margin: 0;
    max-width: unset;
}

.table tr th {
    text-align: center;
}

.table tr td:last-child {
    text-align: center;
}

.table tr td:first-child {
    text-align: center;
}

.label_wrapper {
    max-width: 150px;
    padding-top: 8px;
    text-align: right
}
